In [1]:
import pandas as pd

In [4]:
df = pd.read_parquet("listing_table.parquet")

In [5]:
df.head()

         id            event_timestamp  price
0   2992450 2024-05-14 08:21:02.644933   70.0
1   6623339 2024-05-14 08:21:02.644933  115.0
2   9501054 2024-05-14 08:21:02.644933   69.0
3  10768745 2024-05-14 08:21:02.644933   50.0
4  12284708 2024-05-14 08:21:02.644933   45.0